body { font-family: 'Roboto'; overflow: hidden; }
h1 { font-family: 'Oswald'; }

.container { min-height: 100vh; width: 100%; background: url('/img/background.jpg'); }
.container header { text-align: center; }
.container header h1 { display: inline-block; width: 500px; color: #fff; font: 2em/2em sans-serif; }

.container main { display: flex; width: 100%; min-height: calc(100vh - 100px); }
.container main .about { width: 300px; margin: auto; text-align: center; }
.container main .about h2 { color: #fff; font: 1.3em/1.3em sans-serif; text-align: center; }
.container main .about .categories { margin-top: 1em; display: flex; flex-flow: row nowrap; justify-content: space-between; }
.container main .about .categories span { color: #fff; font: 1em/1.3em sans-serif; }


.container main .about .view-more { cursor: pointer; transition: 200ms all ease; background: transparent; color: #fff; border: 1px solid #fff; padding: .75em 1em; margin-top: 1.5em; }
.container main .about .view-more:hover { transition: 200ms all ease; background: #fff; color: #000; }

.container > footer { color: #eee; text-align: center;}